<ion-header [translucent]="true">
  <ion-toolbar style=" --background: #2C2C2C !important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700">Your Devices</h1>
  
  <div  style="background: linear-gradient( #626262, #2C2C2C); margin:0 auto; text-align: center; height: 150px; padding-top: 10%; padding-bottom: 5%; border-radius: 13px;">
    <a href="/devices" style="text-decoration: none;">
      <img src="assets/images/plus.png">
      <p style="color:white">Add a new device</p>
    </a>
  </div>
  </section>

  <section style="margin-top: 40px; width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700">Recent Activity</h1>

  <div style="background: linear-gradient( #626262, #2C2C2C); margin:0 auto; text-align: center; height: 150px; padding-top: 10%; padding-bottom: 5%; border-radius: 13px;">
    <p style="color:white; padding:10px">You don’t have any activity yet.  
      Let’s connect your device and get XCITED.</p>
  </div>
  </section>

  <section style="margin-top: 40px; width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700;">Community</h1>
    <img src="/assets/images/blog-element@2x.png">
    <img src="/assets/images/blog-element@2x.png">
  </section>

</ion-content>
