<ion-header>

</ion-header>

<ion-content  class="main">
  <section style="width: 80% !important; margin:0 auto;">
    <h1 style="margin-top: 100% !important; margin-bottom: 25px; font-size: 34px;">Ready to get <br>XCITED?</h1>  
    <p>Sign in and let's begin</p>
  </section>

  <section style="width: 90% !important; margin:0 auto; --background:#2C2C2C">
  <ion-item lines="full" style="background: #24242A;">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" value=alexandraureche@gmail.com required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" value=alexandraureche@gmail.com required></ion-input>
  </ion-item>
  
  <ion-button style="margin-top: 5%;" a href="/homepage"  class="x-cite-btn" expand="block">Sign in</ion-button>
  <ion-button  a href="/homepage"  class="x-cite-btn" expand="block">Sign in with Facebook</ion-button>
  <p style="text-align: center;">Already have an accout? <a href="/sign-up">Sing Up</a></p>
  </section>
</ion-content>
