.main{
    margin: 0 auto !important;
}

.center{
    width: 80% !important;
    margin: 0 auto !important; 
    text-align: center;
}

.x-cite-btn{
    --background: #2C2C2C !important;
    margin: 0 auto;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --margin-bottom: 20px;
    --border-radius: 38px;
  }
  
  ion-content,ion-item{
    --background: #24242A;
    color: white;
  }
  
  h1,p{
    color: white;
  }
  
  h1{
    font-weight: 700;
  }