<ion-header>

</ion-header>

<ion-content class="main">
  <section style="text-align: center; margin-top:50%;">
    <img src="/assets/images/avatar.png">
  </section>
  <section class="center">
    <h1>Hello Alexandra!</h1>
    <p>Your information has been reset</p>
  </section>
  <section class="center">
    <ion-col>
      <ion-button style="border-radius: 38px;" type="submit" a href="/homepage" class="x-cite-btn" expand="block">Go Explore</ion-button>
    </ion-col>
  </section>
</ion-content>
