<ion-header>

</ion-header>

<ion-content  class="main">
  <ion-content  class="main">
    <section style="width: 80% !important; margin:0 auto;">
      <h1 style="margin-top: 90% !important; margin-bottom: 25px; font-size: 34px;">Ready to get <br>XCITED?</h1>  
      <p>Let’s create your account</p>
    </section>
  
    <section style="width: 90% !important; margin:0 auto; --background:#2C2C2C">

    <ion-item lines="full" style="background: #24242A;">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full" style="background: #24242A;">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
  
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    
    <ion-button style="margin-top: 5%;" a href="/success"  class="x-cite-btn" expand="block">Sign up</ion-button>
    <ion-button  a href="/success"  class="x-cite-btn" expand="block">Sign up with Facebook</ion-button>
    <p style="text-align: center;">Already have an accout? <a href="/login">Sing In</a></p>
    </section>
  </ion-content>
</ion-content>
