<ion-header [translucent]="true">
  <ion-toolbar style=" --background: #2C2C2C !important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="width: 90%; margin:0 auto; margin-bottom: 35px;">
    <h1 style="font-weight: 700">Notifications</h1>
  </section>
<!-- Toggles in a List -->
<ion-list style="padding: 0;">
  <ion-item>
    <ion-label>Email Notifications</ion-label>
    <ion-toggle [(ngModel)]="Notifications"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Reminders</ion-label>
    <ion-toggle [(ngModel)]="Reminders" disabled="true"></ion-toggle>
  </ion-item>
</ion-list>


</ion-content>
