<ion-header [translucent]="true">
  <ion-toolbar style=" --background: #2C2C2C !important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700">Your Devices</h1>
  </section>
  <section>
    <a href="/stop">
    <div >
      <img src="/assets/images/device@2x.png">
    </div>
    </a>
  </section>

  <section style="margin-top: 40px; width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700">Recent Activity</h1>
  </section>
  <section>
  <div>
    <img src="/assets/images/time@2x.png">
    <img src="/assets/images/time@2x.png">
  </div>
  </section>

  <section style="margin-top: 40px; width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700">Statistics</h1>
  </section>
  <section>
  <div>
    <img src="assets/images/status@2x.png">
  </div>
  </section>

  <section style="margin-top: 40px; width: 90%; margin: 0 auto;">
    <h1 style="margin-bottom: 20px; font-weight: 700;">Community</h1>
  </section>
  <section>
    <img src="/assets/images/blog-element@2x.png">
    <img src="/assets/images/blog-element@2x.png">
  </section>

</ion-content>
